body {
    margin: 0;
    padding-top: 21px;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: lighter;
    color: #000000;
    
    background: #ffffff;
}

a {
    text-decoration: none;
}

.button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;

    text-align: center;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ffffff;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #f0c52e;
}

.button:active {
    color: #f0c52e;

    background-color: #000000;
}

.search-navigation,
.user-navigation,
.compare-basket-navigation,
.site-navigation,
.catalog-menu-1,
.catalog-menu-2,
.catalog-menu-3 {
    list-style: none;
} 

.user-navigation a,
.compare-basket-navigation a,
.site-navigation a {
    color: #000000;
}

.search-navigation a:hover,
.user-navigation a:hover,
.compare-basket-navigation a:hover {
    opacity: 0.5; 
}

.search-navigation a:focus,
.user-navigation a:focus,
.compare-basket-navigation a:focus {
    opacity: 0.2; 
}

.main-menu > a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.catalog-menu {
    display: none;
}

.catalog-menu-1,
.catalog-menu-2,
.catalog-menu-3 {
    font-size: 15px; /* Надо ли дублировать это свойство, если оно не отличается от заданного в body ?*/
    line-height: 36px;
}

.site-navigation a:hover {
    color: rgba(0,0,0,0.5); 
}

.site-navigation a:focus {
    color: rgba(0,0,0,0.2); 
}

.index-columns h2 {
    font-family: "Gilroy", Arial, sans-serif;
}

.index-columns h2 {
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
}

.transport-firm-list {
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
}

.letter-item input,
.letter-item textarea {
    font: inherit;

    background-color: #f2f2f2;
    border: 0;
}

.letter-item label {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.letter-item input:hover {
    background-color: #eaeaea;
}

.letter-item input:focus {
    background-color: #ffffff;

    border: 2px solid #f0c52e;
}

.main-footer {
    color: #ffffff;

    background-color: #464646;
}

.main-footer a {
    color: #ffffff;
}

.main-footer a:hover {
    opacity: 0.5; 
}

.main-footer a:focus {
    opacity: 0.2; 
}

.catalog-item a {
    color: #000000;
}

.page-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.breadcrumbs a:hover {
    opacity: 0.5; 
}

.breadcrumbs a:focus {
    opacity: 0.2; 
}

.breadcrumbs-current {
    opacity: 0.2;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.filter ul {
    list-style: none;
    line-height: 40px;
}

.filter-input:hover + label,
.filter-input:focus + label {
    opacity: 0.5; 
}

.filter-input:disabled + label {
    color: #a6a6a6; 
}

.footer-features-item {
    font-family: "Gilroy", Arial, sans-serif;
}

.footer-features-item {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.footer-features-list,
.footer-social ul {
    list-style: none;
} 

.footer-features-list a:hover,
.footer-social ul a:hover {
    opacity: 0.5; 
}

.footer-features-list a:focus,
.footer-social ul a:focus{
    opacity: 0.2; 
}

.footer-features-list {
    text-transform: uppercase;
    text-align: center;
}

.footer-contacts-telephone {
    text-align: right;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on May 22, 2019 */
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroyextrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
}

.main-header {
    min-height: 318px;
    margin-bottom: 45px;
    background-image: linear-gradient(#ffffff 6.67%, #f7e296 0);
}

.main-navigation {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
}

.main-header-logo {
    width: 163px;
    height: 35px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 35px;
}

.header-container {
    display: flex;
    margin-bottom: 49px;
}

.search-navigation {
    width: 200px;
    margin: 0;
    margin-right: 340px;
    padding: 0;
}

.user-navigation {
    width: 100px;
    margin: 0;
    padding: 0;
}

.compare-basket-navigation {
    width: 200px;
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.site-navigation {
    margin: 0;
    padding: 0;
    display: flex;
}

.catalog-link {
    width: 300px;
    margin-right: 240px;
}

/* body */
.index-columns {
    display: flex;
    padding: 50px 20px;
    margin-bottom: 35px;
}

.about_firm {
    width: 50%;
}

.contacts {
    width: 50%;
}

/* catalog */
.catalog-title-container {
    padding: 0 60px;
}

.page-title {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
}

.breadcrumbs {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
 }

 .catalog-columns {
    display: flex;
    justify-content: space-between;
  }

 .filters {
    width: 200px;
 }

 .catalog {
    width: 760px;
 }

 .catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  
    list-style: none;
  }

  .catalog-item {
    width: 360px;
    margin-bottom: 75px;
    margin-right: 40px;
  }

  .catalog-item:nth-child(2n) {
    margin-right: 0;
  }

  .modal {
      display: none;
  }

/* footer */
.main-footer {
    padding: 65px 0;
    margin-top: 70px;
 }

 .footer-container {
    margin: 0 auto;
    padding: 0;
 }

 .container-row-1 {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 40px;
 }

 .container-row-1-link {
    display: flex; 
 }

 .compare-basket-navigation li {
    display: inline;
 }

 .container-row-2 {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 70px;
 }

 .footer-contacts-address {
    margin: 0;
 }

 .footer-features-list {
    margin: 0;
    padding: 0;
 }

 .footer-features-list li {
    display: inline;
 }

 .container-row-3 {
    display: flex; 
    justify-content: space-between;
 }

 .footer-social {
    margin: 0;
    padding: 0;
 }

 .footer-social li {
    display: inline;
}

